.catalo-container{
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 100%;
}

.catalog-items{
    display: flex;
    gap: 1rem;
    border-radius: 10px;   
    background-color: aqua;
}

.catalog-items img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}