



.containerAll {
  display: flex;
  align-items: center;
  gap: 10vw;
  justify-content: center;
  background-color: black;
}

.container-contato, .container-pagamento {
  margin: 20px 0;
}

.footer-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: white;
}

.icon {
  margin-right: 10px; 
  font-size: 1.5em; 
}
