.container-brands {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 20px;
  align-items: center;
}

.container-brands h1 {
  font-size: 24px;
  font-weight: bold;  
  margin-bottom: 20px;
  text-align: center; 
  color: white;
}

.brands {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 1200px; /* Max width to keep content centered on large screens */
}

.brand-item {
  position: relative;
  overflow: hidden;
  margin: 0 10px;
  border-radius: 10px; 
}

.brand-item img {
  width: 100%;
  max-width: 270px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.brand-item img:hover {
  transform: scale(1.1);
}

.button-style {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  display: flex;
}

.button-prev-style, .button-next-style {
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding: 10px; 
}

.button-prev-style:disabled,
.button-next-style:disabled {
  cursor: not-allowed;
}

.ver-mais {
  text-decoration: underline;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
}

.ver-mais:hover {
  background-color: #fff;
  transition: 250ms;
  color: black;
  border-radius: 10px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .container-brands {
    padding: 10px;
  }

  .container-brands h1 {
    font-size: 20px;
    padding-left: 0;
  }

  .brands {
    gap: 10px;
  }

  .brand-item img {
    max-width: 200px;
  }

  .button-prev-style, .button-next-style {
    font-size: 16px;
    padding: 5px;
    margin: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .brands {
    flex-direction: column;
    align-items: center;
  }

  .brand-item img {
    max-width: 100%;
  }

  .button-prev-style, .button-next-style {
    font-size: 16px;
    padding: 5px;
    margin: 10px 0;
  }

  .ver-mais {
    font-size: 14px;
    padding: 8px 16px;
  }
}
