@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.container-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding-right: 40px;
  padding-left: 40px;
}

.container-logo {
  display: flex;
  align-items: center;
}


.container-logo h1{
    font-size: 30px;
    font-family: 'Kodchasan';
    font-weight: bold;
    color: white;
}

.container-logo img {
  width: 100px;
  height: 100px; 
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-container input{
  color: black;

}
.search-icon {
  position: absolute;
  left: 10px;
  color: #aaa;
}

.search-input {
  padding-left: 30px; 
  background-color: white;
  color: white; 
  border-radius: 109px;
  height: 33px; 
  width: 411px;
}

.menu {
  display: flex;
  align-items: center;
  left: 40px;
}

.menu-btn {
  margin-right: 10px;
  border: 1px solid white;
  width: 126px;
  height: 34px;
  color: black;
  border-radius: 10px;
  background-color: white;
  font-size: 21px;
  font-weight: bold;
}

.dropdown {
  cursor: pointer;
  color: white;
  height: 36px;
  width: 39px;    
}

.dropdown:hover  {
  color: #6e6e6e;
  transition: 0.07s;
}

.drawer-button {
  background-color: black !important;
  border: none;
  height: 300%;
}

.drawer-content {
  background-color: black !important;
}

.container-perfil{
  border: 1 solid white;
  background-color: white;
  border-radius: 8px;
  height: 35px;
  width: 60px;
  font-size: 15px;
  color: black;
}

.container-perfil:hover {
  background-color: #6e6e6e;
  transition: 0.07s;
  color: white;
}